{% import "helpers/mixins.njk" as mixins with context -%}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dirty Magenta</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
<body>

<div id="page" class="site">

    {% include "../partials/header.njk" %}

    <main class="main-wrap">

        {% block content %}{% endblock %}

    </main>

    {% include "../partials/footer.njk" %}

</div><!-- #wrapper -->

<!-- BEGIN scripts -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/owlcarousel.js"></script>
<script type="text/javascript" src="assets/js/pushy.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
<!-- END scripts -->

</body>
</html>