
			<nav class="top-navigation--menu">
				<ul>
					{% for link, title in data.nav %}
					<li><a href="{{link}}.html" {% if link==page %}class="active-top-navigation"{% endif %}>{{ title }}</a></li>
					{% endfor %}

						