{% set page = 'index' %}

{% extends "layouts/default.njk" %}
{% block content %}

<section class="design-carousel">
	<div class="owl-carousel owl-theme owl-loaded">
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/sylwia.jpg" alt="sylwia">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/leecampbell.jpg" alt="leecampbell">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/ryan.jpg" alt="ryan">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	</div>
</section>
<section class="magenta">
	<div class="container">
		<article class="magenta--content">
			<h1 class="magenta--title">
				Dirty Magenta
			</h1>
			<h3 class="magenta--title-info">
				a beautiful, responsive, multi-purpose wordpress theme
			</h3>
			<p class="magenta--info">
				Was certainty remaining engrossed applauded sir how discovery. Settled opinion how enjoyed greater joy adapted too shy. Now properly surprise expenses interest nor replying she she. Bore tall nay many many time yet less. Doubtful for answered one fat indulged margaret sir shutters together.
			</p>
		</article>
	</div>
</section>
<section class="projects">
	<header class="projects--top">
		<hr class="projects--top-line">
		<h3 class="projects--top-title">
			Curated projects
		</h3>
	</header>
	<article class="projects--content">
		<div class="projects--content-row">
			<picture class="projects--content-img content-img-1">
				<img src="assets/img/projects1.jpg" alt="projects1">
			</picture>
			<div class="projects--content-info">
				<h1 class="projects--content-info-title">
					acapella furniture
				</h1>
				<p class="projects--content-info-text">
					Interiors, Furniture, Product Design
				</p>
				<button class="projects--content-info-btn">
					view project
				</button>
			</div>
			<picture class="projects--content-img content-img-2">
				<img src="assets/img/projects2.jpg" alt="projects2">
			</picture>
			<div class="projects--content-info-2">T.</div>
		</div>
		<div class="projects--content-row">
			<picture class="projects--content-img content-img-3">
				<img src="assets/img/projects3.jpg" alt="projects3">
			</picture>
			<picture class="projects--content-img-min content-img-4">
				<img src="assets/img/projects4.jpg" alt="projects4">
			</picture>
			<picture class="projects--content-img-min content-img-5">
				<img src="assets/img/projects5.jpg" alt="projects5">
			</picture>
		</div>
	</article>
	<footer class="projects--work">
		<h4 class="projects--work-title">
			See our complete list of projects here
		</h4>
		<button class="projects--work-btn">
			our work
		</button>
	</footer>
</section>
<section class="parallax" style="background-image: url('assets/img/parallax.jpg');">
	<div class="container">
		<header class="parallax-top">
			<h1 class="parallax--title">parallax.</h1>
		</header>
		<article class="parallax--content">
			<div class="parallax--content-wrap">
				<h2 class="parallax--content-wrap-title">
					Responsive
				</h2>
				<h5 class="parallax--content-wrap-title-min">
					framework
				</h5>
				<p class="parallax--content-wrap-info">
					Detract yet delight written farther his general. If in so bred at dare rose lose good. Feel and make two real miss use easy. Celebrated delightful an especially increasing instrument am. 
				</p>
			</div>
			<div class="parallax--content-wrap">
				<h2 class="parallax--content-wrap-title">
					Feature
				</h2>
				<h5 class="parallax--content-wrap-title-min">
					rich
				</h5>
				<p class="parallax--content-wrap-info">
					Detract yet delight written farther his general. If in so bred at dare rose lose good. Feel and make two real miss use easy. Celebrated delightful an especially increasing instrument am. 
				</p>
			</div>
			<div class="parallax--content-wrap">
				<h2 class="parallax--content-wrap-title">
					Perfomance
				</h2>
				<h5 class="parallax--content-wrap-title-min">
					oriented
				</h5>
				<p class="parallax--content-wrap-info">
					Detract yet delight written farther his general. If in so bred at dare rose lose good. Feel and make two real miss use easy. Celebrated delightful an especially increasing instrument am. 
				</p>
			</div>
		</article>
	</div>
</section>
<section class="services">
	<div class="container">
		<header class="services--top">
			<h1 class="services--top-title">
				services
			</h1>
			<h5 class="services--top-title-min">
				7 key services that outline your areas of expertise
			</h5>
		</header>
		<article>
			<nav class="services--content">
				<ul class="services--content-column">
					<li class="services--content-info clearfix">
						<div class="content-info-left">
							<i class="fa fa-code" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								clean code
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
					<li class="services--content-info clearfix">
						<div class="content-info-left">
							<i class="fa fa-tablet" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								mobile friendly
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
					<li class="services--content-info clearfix">
						<div class="content-info-left">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								ecommerce integration
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
				</ul>
				<ul class="services--content-column">
					<li class="services--content-info services--content-info-center clearfix">
						<div class="content-info-left">
							<i class="fa fa-area-chart" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								built with seo in mind
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
					<li class="services--content-img">
						<img src="assets/img/phone.jpg" alt="phone">
						<div class="services--content-dirty">
							<p class="services--content-dirty-top">so</p>
							<p class="services--content-dirty-bottom">Dirty</p>
						</div>
					</li>					
				</ul>
				<ul class="services--content-column">
					<li class="services--content-info clearfix">
						<div class="content-info-left">
							<i class="fa fa-wordpress" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								wordpress integrated
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
					<li class="services--content-info clearfix">
						<div class="content-info-left">
							<i class="fa fa-connectdevelop" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								50+ variations
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
					<li class="services--content-info clearfix">
						<div class="content-info-left">
							<i class="fa fa-css3" aria-hidden="true"></i>
						</div>
						<div class="content-info-right">
							<h3 class="services--content-info-title">
								css3 animations
							</h3>
							<p class="services--content-info-text">
								Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as. Are projecting inquietude affronting preference saw who.
							</p>
						</div>
					</li>
				</ul>
			</nav>
		</article>
	</div>	
	<footer class="services--bottom">
		<h2 class="services--bottom-title">
			To inquire about our services further, call us <a href="tel:0800345245" class="services--bottom-link">(0800) 345 245</a> or 
		</h2>
		<button class="services--bottom-btn">
			get a qoute
		</button>
	</footer>
</section>
<section class="users">
	<div class="container">
		<div class="users-carousel users-theme owl-loaded">
		    <article class="item">
		    	<h3 class="users--top-title">
		    		don’t take our word for it
		    	</h3>
		    	<h1 class="users--title">
		    		see what our users are saying!
		    	</h1>
		    	<div class="users--content">
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- John Reese
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/reese.jpg" alt="reese">
		    			</picture>
		    		</div>
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- Harold Finch
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/finch.jpg" alt="finch">
		    			</picture>
		    		</div>
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- Caroline Turing
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/turing.jpg" alt="turing">
		    			</picture>
		    		</div>
		    	</div>
		    </article>
		    <article class="item">
		    	<h3 class="users--top-title">
		    		don’t take our word for it
		    	</h3>
		    	<h1 class="users--title">
		    		see what our users are saying!
		    	</h1>
		    	<div class="users--content">
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- John Reese
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/reese.jpg" alt="reese">
		    			</picture>
		    		</div>
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- Harold Finch
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/finch.jpg" alt="finch">
		    			</picture>
		    		</div>
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- Caroline Turing
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/turing.jpg" alt="turing">
		    			</picture>
		    		</div>
		    	</div>
		    </article>
		    <article class="item">
		    	<h3 class="users--top-title">
		    		don’t take our word for it
		    	</h3>
		    	<h1 class="users--title">
		    		see what our users are saying!
		    	</h1>
		    	<div class="users--content">
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- John Reese
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/reese.jpg" alt="reese">
		    			</picture>
		    		</div>
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- Harold Finch
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/finch.jpg" alt="finch">
		    			</picture>
		    		</div>
		    		<div class="users--content-wrap">
		    			<div class="users--content-info">
		    				<p class="users--content-info-text">
		    					<q class="users--content-info-quote">Just want to tell you that I'm in love with my website. My entire behaviour changes. Love to capture my life now.</q>
		    				</p>
		    				<h6 class="users--content-info-name">
		    					- Caroline Turing
		    				</h6>
		    			</div>
		    			<div class="users--content-info-arrow">
		    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
		    			</div>
		    			<picture class="users--content-info-img">
		    				<img src="assets/img/turing.jpg" alt="turing">
		    			</picture>
		    		</div>
		    	</div>
		    </article>
		</div>
	</div>
</section>
<section class="worked">
	<div class="container">
		<h2 class="worked--title">
			people we’ve worked with over the years
		</h2>
		<nav class="worked--nav">
			<ul class="worked--nav-wrap">
				<li><a href="#"><img src="assets/img/photodune.jpg" class="worked--nav-img" alt="photodune"></a></li>
				<li><a href="#"><img src="assets/img/themeforest.jpg" class="worked--nav-img" alt="themeforest"></a></li>
				<li><a href="#"><img src="assets/img/graphic.jpg" class="worked--nav-img" alt="graphic"></a></li>
				<li><a href="#"><img src="assets/img/active.jpg" class="worked--nav-img" alt="active"></a></li>
				<li><a href="#"><img src="assets/img/ocean.jpg" class="worked--nav-img" alt="ocean"></a></li>
			</ul>
		</nav>
	</div>
	<hr class="worked--line">
</section>
<section class="blog">
	<div class="container">
		<header class="blog--top">
			<h1 class="blog--top-title">
				our blog
			</h1>
			<p class="blog--top-info">
				Get the latest updates from the team & co.
			</p>
		</header>
		<article class="blog--content">
			<nav class="blog--content-nav">
				<ul class="blog--content-nav-wrap">
					<li>
						<picture class="blog--content-nav-img">
							<img src="assets/img/phoneone.jpg" alt="phoneone">
						</picture>
						<a href="#" class="blog--content-nav-link">
							<h3 class="blog--content-nav-title">
								10 May 2015 <i class="fa fa-circle" aria-hidden="true"></i> <span>2 comments</span>
							</h3>
						</a>
						<h4 class="blog--content-nav-title-min">
							Invitation is unpleasant astonished preference attachment friendship
						</h4>
						<p class="blog--content-nav-info">
							Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females as an. That do an case an what plan hour of paid. 
						</p>
					</li>
					<li>
						<picture class="blog--content-nav-img">
							<img src="assets/img/wolf.jpg" alt="wolf">
						</picture>
						<a href="#" class="blog--content-nav-link">
							<h3 class="blog--content-nav-title">
								10 May 2015 <i class="fa fa-circle" aria-hidden="true"></i> <span>2 comments</span>
							</h3>
						</a>
						<h4 class="blog--content-nav-title-min">
							Invitation is unpleasant astonished preference attachment friendship
						</h4>
						<p class="blog--content-nav-info">
							Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing fertile village equally prepare up females as an. That do an case an what plan hour of paid. 
						</p>
					</li>
					<li>
						<picture class="blog--content-nav-img">
							<img src="assets/img/iphone.jpg" alt="iphone">
						</picture>
						<a href="#" class="blog--content-nav-link">
							<h3 class="blog--content-nav-title">
								6 May 2015 <i class="fa fa-circle" aria-hidden="true"></i> <span>12 comments</span>
							</h3>
						</a>
						<h4 class="blog--content-nav-title-min">
							Wishing cheered parlors adapted am at amongst matters
						</h4>
						<p class="blog--content-nav-info">
							Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved. 
						</p>
					</li>
					<li>
						<picture class="blog--content-nav-img">
							<img src="assets/img/city.jpg" alt="city">
						</picture>
						<a href="#" class="blog--content-nav-link">
							<h3 class="blog--content-nav-title">
								4 May 2015 <i class="fa fa-circle" aria-hidden="true"></i> <span>6 comments</span>
							</h3>
						</a>
						<h4 class="blog--content-nav-title-min">
							Discovered her his pianoforte insipidity entreaties
						</h4>
						<p class="blog--content-nav-info">
							Discovered her his pianoforte insipidity entreaties. Began he at terms meant as fancy. Breakfast arranging he if furniture we described on. Astonished thoroughly unpleasant especially you dispatched.
						</p>
					</li>
				</ul>
			</nav>
		</article>
		<footer class="blog--bottom">
			<h2 class="blog--bottom-title">
				Read more stories from our blog
			</h2>
			<button class="blog--bottom-btn">
				click here
			</button>
		</footer>
	</div>
</section>
<section class="pricing">
	<div class="container">
		<header>
			
		</header>
		<article>
			
		</article>
		<footer>
			
		</footer>
	</div>
</section>

{% endblock %}