{% set page = 'index' %}

{% extends "layouts/default.njk" %}
{% block content %}

<section class="design-carousel">
	<div class="owl-carousel owl-theme owl-loaded">
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/sylwia.jpg">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/leecampbell.jpg">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/ryan.jpg">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	</div>
</section>
<section class="magenta">
	<div class="container">
		<article class="magenta--content">
			<h1 class="magenta--title">
				Dirty Magenta
			</h1>
			<h3 class="magenta--title-info">
				a beautiful, responsive, multi-purpose wordpress theme
			</h3>
			<p class="magenta--info">
				Was certainty remaining engrossed applauded sir how discovery. Settled opinion how enjoyed greater joy adapted too shy. Now properly surprise expenses interest nor replying she she. Bore tall nay many many time yet less. Doubtful for answered one fat indulged margaret sir shutters together.
			</p>
		</article>
	</div>
</section>
<section class="projects">
	<header class="projects--top">
		<hr class="projects--top-line">
		<h3 class="projects--top-title">
			Curated projects
		</h3>
	</header>
	<article class="projects--content">
		<div class="projects--content-row">
			<picture class="projects--content-img content-img-1">
				<img src="assets/img/projects1.jpg">
			</picture>
			<div class="projects--content-info">
				<h1 class="projects--content-info-title">
					acapella furniture
				</h1>
				<p class="projects--content-info-text">
					Interiors, Furniture, Product Design
				</p>
				<button class="projects--content-info-btn">
					view project
				</button>
			</div>
			<picture class="projects--content-img content-img-2">
				<img src="assets/img/projects2.jpg">
			</picture>
			<div class="projects--content-info-2">T.</div>
		</div>
		<div class="projects--content-row">
			<picture class="projects--content-img content-img-3">
				<img src="assets/img/projects3.jpg">
			</picture>
			<picture class="projects--content-img-min content-img-4">
				<img src="assets/img/projects4.jpg">
			</picture>
			<picture class="projects--content-img-min content-img-5">
				<img src="assets/img/projects5.jpg">
			</picture>
		</div>
	</article>
	<footer class="projects--work">
		<h4 class="projects--work-title">
			See our complete list of projects here
		</h4>
		<button class="projects--work-btn">
			our work
		</button>
	</footer>
</section>

{% endblock %}