{% set page = 'index' %}

{% extends "layouts/default.njk" %}
{% block content %}

<section class="design-carousel">
	<div class="owl-carousel owl-theme owl-loaded">
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/sylwia.jpg">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/leecampbell.jpg">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	    <article class="item">
	    	<picture class="design-carousel--img">
	    		<img src="assets/img/ryan.jpg">
	    	</picture>
	    	<div class="design-carousel--content">
	    		<h1 class="design-carousel--title">design studio.</h1>
	    		<p class="design-carousel--info">Creative website template with a wide range of drag & drop elements.</p>
	    		<button class="design-carousel--btn">View Project</button>
	    	</div>
	    </article>
	</div>
</section>

{% endblock %}